<ul class="list-unstyled">
<% @investments.each do |investment| %>
  <h4><li><%= link_to investment.project.title, investment_path(investment.id) %><br></li></h4>
  Total investment: <%= investment.total_investment_amount %><br>
  Borrower: <%= investment.borrower.name %>
<% end %>
</ul>