<ul class="list-unstyled">
<% @investments.each do |investment| %>
  <div class="col-xs-4">
    <h4><li><%= link_to investment.project.title, investment_path(investment.id) %><br></li></h4>
    <strong>Total investment: </strong><%= investment.total_investment_amount %><br>
    <strong>Borrower: </strong><%= investment.borrower.name %><br>
    <strong>Description: </strong><p><%= investment.project.description %></p>
  </div>
<% end %>
</ul>